*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --primary: #0ae8ca;
  --dark-1: #2d2d2d;
  --dark-2: #202020;
  --dark-3: #131313;
  --dark-4: #000000;
  --light-1: #ffffff;
  --light-2: #f9f9f9;
  --light-3: #ececec;
  --light-4: #dfdfdf;
  --danger: #dc3545;
}

$primary: var(--primary);
$dark-1: var(--dark-1);
$dark-2: var(--dark-2);
$dark-3: var(--dark-3);
$dark-4: var(--dark-4);
$light-1: var(--light-1);
$light-2: var(--light-2);
$light-3: var(--light-3);
$light-4: var(--light-4);
$danger: var(--danger);

// fonts
@font-face {
  font-family: CascadiaCode;
  src: url("../fonts/CascadiaCode.ttf");
}

// scrollbar
// ::-webkit-scrollbar {
//   width: 10px;
//   height: 2px;
//   border-radius: 8px;
// }

/* Track */
// ::-webkit-scrollbar-track {
//   background: $dark-1;
// }

/* Handle */
// ::-webkit-scrollbar-thumb {
//   background: $light-3;
//   border-radius: 8px;
// }

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: $light-4;
// }

// Hide number input type arrows
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// Firefox
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background: $light-3;
  color: $dark-3;
  font-family: CascadiaCode;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  p,
  figure {
    margin: 0;
  }
}

// loader
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  &::after {
    background-color: $light-3;
    height: clamp(30px, 3vw, 50px);
    width: clamp(30px, 3vw, 50px);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid $dark-1;
    border-top: 2px solid $light-3;
    border-radius: 50%;
    animation: spin 1s infinite;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
